@model UniversityManagementSystem.Models.Teacher

@{
    ViewBag.Title = "Add Teacher in ";
}

<br/>
<div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-9">
        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            <div class="form-horizontal">
                
                @Html.ValidationSummary(true)

                <div class="form-group">
                    @Html.LabelFor(model => model.Name, new { @class = "control-label col-md-3" })
                    <div class="col-md-8">
                        @Html.TextBoxFor(model => model.Name, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.Name)
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.Address, new { @class = "control-label col-md-3" })
                    <div class="col-md-8">
                        @Html.TextBoxFor(model => model.Address, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.Address)
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.Email, new { @class = "control-label col-md-3" })
                    <div class="col-md-8">
                        @Html.TextBoxFor(model => model.Email, new { @class = "form-control" })
                        @{
                            if (@ViewBag.EmailError != null)
                            {
                                <span style="color: #b94a48">@ViewBag.EmailError</span>

                            }
                        }
                        @Html.ValidationMessageFor(model => model.Email)
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.ContactNo, new { @class = "control-label col-md-3" })
                    <div class="col-md-8">
                        @Html.TextBoxFor(model => model.ContactNo, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.ContactNo)
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.DesignationId, new { @class = "control-label col-md-3" })
                    <div class="col-md-8">

                        @Html.DropDownListFor(model => model.DesignationId, ViewBag.DesgList as SelectList, "-- Select Designation --", new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.DesignationId)
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.DepartmentId, new { @class = "control-label col-md-3" })
                    <div class="col-md-8">
                        @Html.DropDownListFor(model => model.DepartmentId, ViewBag.DeptList as SelectList, "-- Select Department --", new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.DepartmentId)
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.CreditToBeTaken, new { @class = "control-label col-md-3" })
                    <div class="col-md-8">
                        @Html.TextBoxFor(model => model.CreditToBeTaken, new {@class = "form-control"})
                        @{
                            if (@ViewBag.CreditError != null)
                            {
                                <span style="color: #b94a48">@ViewBag.CreditError</span>

                            }
                        }
                        @Html.ValidationMessageFor(model => model.CreditToBeTaken)
                        <br />
                        <div class="form-group">
                            <div class="col-md-offset-2 col-md-10">
                                <input type="submit" value="Save Teacher" class="btn btn-default btn-success" />
                                @{
                                    if (@ViewBag.Msg != null)
                                    {
                                        <span id="fade" style="color: green"><font size="4">@ViewBag.Msg</font></span>
                                    }
                                }
                            </div>
                        </div>
                    </div>
                    
                </div>

                
            </div>
                            }
    </div>
</div>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script src="~/Scripts/jquery.validate.unobtrusive.js"></script>
<script type="text/javascript">

      $(document).ready( function() {
        $('#fade').delay(7000).fadeOut();
      });
</script>
}


